.card-container {
    display: flex;
    flex-direction: column;
    min-width: 580px;
    /* max-width: 600px; */
    margin-left: 20px;
    border-radius: 12px;
    border: 1px solid rgba(212, 210, 210, 0.233);
    padding: 0 5px;
    margin-top: 10px;
    background: #fff;
}
.card-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comment-input {
    width: 100%;
}
.container-user {
    display: flex;
    width: 90%;
}
.time-reply {
    display: flex;
    justify-content:space-between;
    width: 90%;
}
.time-reply p {
    margin-left: 10px;
}
.container-text{
    display: flex;
    width: 90%;
    border-radius: 10px;
    padding-left: 5px;
    margin-bottom: 8px;
}
.sub-comments {
    display: flex;
}
.container-text p {
    max-width: 90%;
    height: auto;
 }

 .text-container{
    display: flex;
 }
 .text-like {
    margin-right: 20px;
 }
.buttons {
    display: flex;
    justify-content: center;
    width: 100px;
}
button {
    margin-top: 10px;
    height: 30px;
    margin-right: 10px;
    background: rgb(133, 168, 248);
    color: rgb(252, 252, 252);
    border: none;
    border-radius: 10px;
}
input {
    background: rgba(177, 177, 177, 0.213);
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.233);
}
.comment-container{
    display: flex;
    width: 100%;
}